/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: black;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
	cursor: pointer;
}

/* make buttons play nice in IE:	 
		www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto;
	overflow: visible;
}

/* Sharper Thumbnails */
img {
	-ms-interpolation-mode: bicubic;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
	padding: 5px;
	font: 400 1em Verdana, Sans-serif;
	color: #666;
	background: #fff;
	border: 1px solid #999999;
	margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
	color: #000;
	background: #fff;
	border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
body {
	font: 18px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
	color: #333333;
	background: #f6f6f6;
	-webkit-font-smoothing: antialiased;
}

a, a:visited {
	color: #26A65B;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover, a:active {
	color: #26A65B;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	line-height: 1.2em;
	margin-bottom: 0.6em;
  font-family: Oswald;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
  text-align: center;
  padding: 5px;
}

h3 {
	font-size: 1.5em;
	margin-top: 2em;
}

p {
	margin-bottom: 1em;
}

ol, ul {
	padding-left: 30px;
	margin-bottom: 1em;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

abbr, acronym {
	cursor: help;
	border-bottom: 0.1em dotted;
}

td, td img {
	vertical-align: top;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

code {
	font-family: Courier, "Courier New", Monaco, Tahoma;
	background: #f6f6f6;
	color: #333;
	padding: 0px 2px;
  border: 1px solid #dddddd;
}

pre {
	background: #f6f6f6;
	padding: 20px;
	margin-bottom: 1em;
	overflow: auto; 
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ddd;
}

pre code {
  border: 0px;
}

blockquote {
	font-style: italic;
	margin: 0 0 1em 15px;
	padding-left: 10px;
	border-left: 5px solid #dddddd;
}

hr {
  border: 0px;
  border-top: 1px solid #ddd;
}

/* Structure Styles
/*---------------------------------------------*/
.inner {
  width: 100%;
	max-width: 850px;
	margin: 0 auto;
}

#header {
	color: #333;
  padding: 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: #efefef;
  box-shadow: 3px 3px 2px #ddd;
}

#header a { 
  color: #26a65b;
  padding: 15px;
}

#header a:hover { color: #26a65b; }

#header .nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

#header .nav li { display: inline; }

@media screen and (max-width: 480px) {
  #header {
    padding-left: 0px;
    padding-right: 0px;
  }

  #header .nav {
    float: none;
  }

  #header .nav li {
    display: block;
    float: left; 
    text-align: center;
    width: 33%;

    a { 
      padding-left: 0px;
      padding-right: 0px;
    } 
  }
}

#header .nav a {
	margin-left: 1px;
  margin-right: 1px;
  font-family: 'Oswald';
}

#content {
  padding: 15px;
  padding-top: 120px;
  padding-bottom: 20px;
  background: #f6f6f6;
  border-top: 1px solid #ccc;

  img.me {
    float: right;
    width: 100%;
    max-width: 180px;
    margin-left: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px #ddd;
  }

  .video {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px #ddd;
  }
}

#footer a { color: #fff; }
#footer a:hover { color: #fff; text-decoration: underlne; }

/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center { 
  text-align: center;
}

.text-right {
  text-align: right;
}

